{% extends 'cafeteria/base.html' %}

{% block title %}Casa Tueste | Sistema POS{% endblock %}
{% block body_class %}bg-[#f5f5f5]{% endblock %}

{% block content %}
  <div class="flex h-screen flex-col bg-[#f5f5f5]">
    {% include 'cafeteria/partials/messages.html' %}
    {% include 'cafeteria/partials/top_bar.html' %}

    <div class="flex flex-1 flex-col overflow-hidden">
      {% include 'cafeteria/partials/category_nav.html' %}

      <div class="flex flex-1 overflow-hidden">
        {% include 'cafeteria/partials/product_grid.html' %}
        {% include 'cafeteria/partials/shopping_cart.html' %}
      </div>

      {% if modal == 'frequent-client' %}
        {% include 'cafeteria/partials/modals/frequent_client.html' %}
      {% endif %}

      {% if modal == 'discount' %}
        {% include 'cafeteria/partials/modals/discount.html' %}
      {% endif %}

      {% if modal == 'promotion' %}
        {% include 'cafeteria/partials/modals/promotion.html' %}
      {% endif %}
    </div>
  </div>
{% endblock %}
